---
import Header from '../components/Header.astro';
import '../input.css';	
const { frontmatter } = Astro.props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<div class='container'>
			<div class='meta'>
				<div>
					<time class='date'>{frontmatter.pubDate.slice(0, 10)}</time>
					<h1 class='title'>{frontmatter.title}</h1>
					<p class='description'>{frontmatter.description}</p>
					<span class='author'
						>Author: <span class='author-name'>{frontmatter.author}</span></span
					>
				</div>
				<img
					class='poster'
					src={frontmatter.image.url}
					alt={frontmatter.image.alt}
				/>
			</div>
			<div class='body'>
				<slot />
			</div>
		</div>
	</body>
</html>
